.troutboy {
    height: 100%;
    width: 100%;
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.swingas {
    height: 4.5%;
    width: 4.5%;
}

div {
    border-width: 1px;
    border-style: solid;
    
}

.leftside,.rightside {
    height:75vh;
    width:100%;

}

.leftside{
    background-color:dodgerblue;
}

.rightside{
    background-color:dodgerblue;
}
